@import url("https://fonts.googleapis.com/css?family=Clicker+Script:regular");

h1 {
  display: flex;
  text-align: center;

  padding-bottom: 0.3em;
  padding-left: 2.1em;
  margin: 0%;

  font-family: "Clicker Script";
  color: #647079;
}
